@import '../utils/variables.scss';

.section-form {

    background-color: $gris-formulario-fondos;

  
  

    .container-form {
        padding: 55px 25px;
     

        .cormorand {

            font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
        }

        h2 {
            font-size: 2.2rem;
            padding-bottom: 15px;
        }

        .cursiva {
            font-family: 'Nothing You Could Do', cursive;
        }

        form {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;

            .celdas {
                display: flex;
                flex-direction: column;
                font-size: 0.79rem;
                width: 48%;

                label {
                    .required {
                        color: red;
                    }
                }

                input {
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                    border: 1px solid black;
                    border-radius: 4px;
                }
                .error {
                    color: red;
                 
                  }
            }

            p {
                width: 100%;
                font-size: 0.9rem;
                margin: 20px 0 0;
            }

            .checkbox-container {
                display: flex;
                gap: 10px;
                font-size: 0.8rem;
                margin: 0 auto;
                align-items: flex-start;
                width: 48%;


                .input-checkbox {
                    margin-top: 5px;
                }
            }
        }

        .text-area {

            width: 100%;
            height: 70px;
            padding: 5px;
            border: 1px solid black;
            border-radius: 3px;
        }


        .selector {

            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;


            .select-box{

                width: 100%;
                padding: 10px;
                border-radius: 3px;
            }
        }

        .enviar {
            width: 100%;
            height: 40px;
            margin-top:20px;
            font-size: large;
            background-color: $magenta;
            color: $blanco;
            border-radius: 20px;
        }

    }
}

@media (min-width: 700px) {
    .container-form {
        width: 80%;
        margin: 0 auto;
    }

}

@media (min-width: 1200px) {
    .container-form {
        width: 70%;
   
    }


}