@import '../utils/variables.scss';

.footer-bottom {
    background: $magenta;
    text-align: center;
    color: $blanco;

    .socialApps-container {
       
        padding: 10px;

        .link {
            margin: 10px;
           
            .logo{
                width: 25px;
                height: 25px;
            }
        }
    }

    .infoContact-container {
        font-size: 1.1rem;
        width: 75%;
        margin: 0px auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .links-infoContact {
            color: $blanco;
            font-weight: 400;
        }
    }
}