@import '../utils/variables.scss';

.home {
    display: flex;
    flex-direction: column;

    .principal {
        width: 100%;
        margin-top: 20px;
    }

    .textofondo {
        background-color: $azul-tarjeta ;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;

        .primerafrase {

            color: rgb(255, 255, 255);

            font-size: large;
            font-family: 'Nothing You Could Do', cursive;
        }

        .segundafrase {

            color: rgb(255, 255, 255);

            font-size: large;
            font-family: 'Nothing You Could Do', cursive;
        }
    }
}

@media only screen and (min-width: 720px) {
    .home {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        .principal {
            width: 100%;
        }

        .textofondo {
            background-color: $azul-tarjeta ;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 220px;

            .primerafrase {

                color: rgb(255, 255, 255);

                font-size: xx-large;
                font-family: 'Nothing You Could Do', cursive;
            }

            .segundafrase {

                color: rgb(255, 255, 255);

                font-size: xx-large;
                font-family: 'Nothing You Could Do', cursive;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .home {
        display: flex;
        flex-direction: column;

        margin-top: 40px;


        .principal {
            width: 100%;
        }

        .textofondo {
            background-color: $azul-tarjeta ;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 350px;

            .primerafrase {

                color: rgb(255, 255, 255);

                font-size: xx-large;
                font-family: 'Nothing You Could Do', cursive;
            }

            .segundafrase {

                color: rgb(255, 255, 255);

                font-size: xx-large;
                font-family: 'Nothing You Could Do', cursive;
            }
        }
    }
}