@import '../utils/variables.scss';

.home {
    position: relative;
    text-align: center;
    margin-top: 10px;

    .button-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .principal {
            width: 100%;
            height: auto;
            filter: brightness(50%);
        }

        .pideinfo {
            position: absolute; // Make this absolute to overlay on the image
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .asesoramiento,
            .subtitulo,
            .botoninfo {
                color: white;
                text-shadow: 1px 1px 2px black;
                margin: 10px 0;

                &.asesoramiento {
                    font-size: 14px;
                    z-index: 2;
                    font-family: "Lato", sans-serif;
                }

                &.subtitulo {
                    font-size: 14px;
                    z-index: 2;
                    font-family: 'Nothing You Could Do', cursive;
                }

                &.botoninfo {
                    width: 200px;
                    height: 30px;
                    background-color: $magenta;
                    color: white;
                    padding: 3px 20px;
                    text-decoration: none;
                    border-radius: 7px;
                    z-index: 2;
                    font-size: 18px;
                    font-family: 'Nothing You Could Do', cursive;
                }
            }
        }
    }

    .textofondo {
        position: relative;
        background-color: $azul-tarjeta;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        z-index: 1;

        .primerafrase,
        .segundafrase {
            margin: 10px 0;
            font-family: 'Nothing You Could Do', cursive;
            color: white;
            font-size: 22px;
        }
    }
}

@media only screen and (min-width: 720px) {
    .home {
        position: relative;
        text-align: center;
        margin-top: 10px;
    
        .button-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .principal {
                width: 100%;
                height: auto;
                filter: brightness(50%);
            }
    
            .pideinfo {
                position: absolute; // Make this absolute to overlay on the image
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
    
                .asesoramiento,
                .subtitulo,
                .botoninfo {
                    color: white;
                    text-shadow: 1px 1px 2px black;
                    margin: 10px 0;
    
                    &.asesoramiento {
                        font-size: 26px;
                        z-index: 2;
                        font-family: "Lato", sans-serif;
                    }
    
                    &.subtitulo {
                        font-size: 26px;
                        z-index: 2;
                        font-family: 'Nothing You Could Do', cursive;
                    }
    
                    &.botoninfo {
                        width: 250px;
                        height: 40px;
                        background-color: $magenta;
                        color: white;
                        padding: 3px 20px;
                        text-decoration: none;
                        border-radius: 7px;
                        z-index: 2;
                        font-size: 22px;
                        font-family: 'Nothing You Could Do', cursive;
                    }
                }
            }
        }
    
        .textofondo {
            position: relative;
            background-color: $azul-tarjeta;
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            z-index: 1;
    
            .primerafrase,
            .segundafrase {
                margin: 10px 0;
                font-family: 'Nothing You Could Do', cursive;
                color: white;
                font-size: 28px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .home {
        position: relative;
        text-align: center;
        margin-top: 10px;
    
        .button-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .principal {
                width: 100%;
                height: auto;
                filter: brightness(50%);

            }
    
            .pideinfo {
                position: absolute; // Make this absolute to overlay on the image
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                padding-bottom: 380px;
    
                .asesoramiento,
                .subtitulo,
                .botoninfo {
                    color: white;
                    text-shadow: 1px 1px 2px black;
                
    
                    &.asesoramiento {
                        font-size: 60px;
                        z-index: 2;
                        font-family: "Lato", sans-serif;
                    }
    
                    &.subtitulo {
                        font-size: 60px;
                        z-index: 2;
                        font-family: 'Nothing You Could Do', cursive;
                    }
    
                    &.botoninfo {
                        width: 450px;
                        height: 70px;
                        background-color: $magenta;
                        color: white;
                        padding: 3px 20px;
                        text-decoration: none;
                        border-radius: 7px;
                        z-index: 2;
                        font-size: 40px;
                        font-family: 'Nothing You Could Do', cursive;
                    }
                }
            }
        }
    
        .textofondo {
            position: relative;
            background-color: $azul-tarjeta;
            width: 100%;
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            z-index: 1;
    
            .primerafrase,
            .segundafrase {
                margin: 10px 0;
                font-family: 'Nothing You Could Do', cursive;
                color: white;
                font-size: 50px;
            }
        }
    }
}