.streamlit {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    z-index: 9999;
    
    .embeddedAppMetaInfoBar_container__DxxL1 {
        display: none;
    
    }

    .chatty {
        width: 450px;
        height: 700px;
        z-index: 9999; 
    }

    button {
        background-color: transparent;

        &:hover {
            border: 1px solid transparent;
        }

        img {
            width: 80px;
            height: 80px;
            z-index: 9999; 
        }
    }
}

@media (min-width: 700px) {
    .streamlit {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 24px;
        margin-right: 24px;
        
        .embeddedAppMetaInfoBar_container__DxxL1 {
            display: none;
        
        }
    
        .chatty {
            width: 450px;
            height: 700px;
        }
    
        button {
            background-color: transparent;
    
            &:hover {
                border: 1px solid transparent;
            }
    
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .streamlit {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 24px;
        margin-right: 24px;
        
        .embeddedAppMetaInfoBar_container__DxxL1 {
            display: none;
        
        }
    
        .chatty {
            width: 450px;
            height: 700px;
        }
    
        button {
            background-color: transparent;
    
            &:hover {
                border: 1px solid transparent;
            }
    
            img {
                width: 120px;
                height: 120px;
            }
        }
    }
}
