.streamlit {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 24px;
    margin-right: 24px;

    .chatty {
        width: 450px;
        height: 700px;
    }

    button {
        background-color: transparent;

        &:hover {
            border: 1px solid transparent;
        }

        img {
            width: 80px;
            height: 80px;
        }
    }
}
