@import '../utils/variables.scss';


.traductor {
    width: 100%;
    height: 40px;
    background-color: $magenta;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 8px;


    .infoheader {
        margin-right: 8px;
    }

    a {
        color: white;
        text-decoration: none;
        margin: 5px;
    }

    span {
        color: white;
    }
}

@media only screen and (min-width: 720px) {
    .traductor {
        width: 100%;
        height: 40px;
        background-color: $magenta;
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 8px;
    
    
        .infoheader {
            margin-right: 8px;
        }
    
        a {
            color: white;
            text-decoration: none;
            margin: 5px;
            font-size: large;
        }
    
        span {
            color: white;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .traductor {
        width: 100%;
        height: 50px;
        background-color: $magenta;
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: 8px;
    
    
        .infoheader {
            margin-right: 8px;
        }
    
        a {
            color: white;
            text-decoration: none;
            margin: 5px;
            font-size: x-large;
        }
    
        span {
            color: white;
        }
    }
}